<div class="w-full">
  <header class="flex justify-between items-baseline">
    <h1 class="font-bold text-4xl">
      <%= @inventory.name %>
    </h1>
    <%= link_to "Add food", inventory_foods_new_path(@inventory.id), class: "text-sm px-4 py-2 border rounded hover:border-transparent hover:bg-green-200" %>
  </header>
  <% flash.each do |type, msg| %>
    <% if type === 'notice' %>
      <div class="px-7 py-3 bg-green-200 mt-4">
        <p><%= msg %></p>
      </div>
    <% end %>
  <% end %>
  <div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm rounded text-center">
      <thead class="text-white">
        <tr class="bg-teal-700">
          <th class="px-4 py-2">Food</th>
          <th class="px-4 py-2">Quantity</th>
          <th class="px-4 py-2">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @inventory.inventory_foods.each do |item| %>
          <tr>
            <td class="border px-4 py-2">
              <%= item.food.name %>
            </td>
            <td class="border px-4 py-2">
              <%= "#{item.quantity} #{item.food.measurement_unit}" %>
            </td>
            <td class="border px-4 py-2">
              <%= button_to "Delete", inventory_food_path(@inventory.id, item.id), method: :delete, class:"bg-red-500 text-white font-bold py-2 px-4 rounded" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
