<div class="w-full">
  <div class="flex justify-between">
    <h1 class="font-bold text-4xl">Food List</h1>
    <%= link_to "Add Food", new_food_path, class:"bg-teal-500 text-white font-bold py-2 px-4 rounded" %>
  </div>
  <div class="mt-6 relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm rounded text-center">
      <thead class="text-white" >
        <tr class="bg-teal-700">
          <th class="px-4 py-2 text-center"><%= link_to "Food", :sort => "food"%> </th>
          <th class="px-4 py-2 text-center"><%= link_to "Measurement unit", :sort => "measurement_unit"%> </th>
          <th class="px-4 py-2 text-center"><%= link_to "Unit Price", :sort => "avg_ranking"%> </th>
          <th class="px-4 py-2 text-center"> Actions </th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @foods.each do |food| %>
          <tr>
            <td class="px-4 py-2 border"><%= link_to food.name, food_path(food.id) %></td>
            <td class="px-4 py-2 border"><%=food.measurement_unit %></td>
            <td class="px-4 py-2 border">  <%=number_to_currency(food.price) %></td>
            <td class="px-4 py-2 border">  <%= button_to "Delete", food_path(food.id), method: :delete, class:"bg-red-500 text-white font-bold py-2 px-4 rounded" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <%= msg %>
  </div>
<% end %>
</div>
